* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

.container {
  max-width: 142rem;
  margin-inline: auto;
  padding: 0 4.8rem;
}

.header-logo {
  font-size: 2.4rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  padding-bottom: 1.2rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
}

.header-mode {
  font-size: 1.8rem;
  padding-bottom: 1.2rem;
  font-weight: 600;
}

p {
  font-size: 1.4rem;
}
span {
  font-weight: 500;
}

/***** Countries List *****/
.header {
  box-shadow: 0 0.2rem 0.8rem 0.1rem rgba(0, 0, 0, 0.1);
  & .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.8rem;
  }
  & .header-mode {
    padding-bottom: 0;
    cursor: pointer;
  }
}

.contries-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 4.4rem;
  padding-block: 3.2rem;

  & .country-card {
    display: block;
    text-decoration: none;
    color: black;
    overflow: hidden;
    transition: all 0.3s linear;
    background-color: rgb(232, 244, 255);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    &:hover {
      & img {
        scale: 1.1;
      }
      border: 0.1rem solid rgba(0, 0, 0, 1);
      transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
    }

    & img {
      width: 100%;
      transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    }

    & .card-content {
      padding: 1.8rem;
    }
  }
}
/***** End Countries List *****/

/***** Country *****/

.back-btn {
  display: inline-block;
  margin: 4.2rem 0;
  padding: 0.8rem 1.8rem 0.8rem 1.2rem;
  font-weight: 600;
  font-size: 1.4rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  background-color: rgb(232, 244, 255);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  &:hover {
    border: 0.1rem solid rgba(0, 0, 0, 1);
    & .fa-solid {
      transform: translateX(-2rem);
      -webkit-transform: translateX(-2rem);
      -moz-transform: translateX(-2rem);
      -ms-transform: translateX(-2rem);
      -o-transform: translateX(-2rem);
}
  }
  & .fa-solid {
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
  }

  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

.country-more-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
  place-content: center;
  margin-bottom: 2.4rem;
  & .more-content--flag {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 100%;
      border: 0.1rem solid rgba(0, 0, 0, 0.2);
    }
  }

  & .more-content--details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);

    background-color: rgb(232, 244, 255);
    padding: 2.4rem;
    & .country-informations {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.2rem;
      & p {
        padding-bottom: 0.4rem;
      }
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
    }

    & .country-border {
      & a {
        display: inline-block;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        margin-left: 0.6rem;
        margin-bottom: .2rem;
        padding: 0.2rem 0.6rem;
        border-radius: 0.2rem;
        -webkit-border-radius: 0.2rem;
        -moz-border-radius: 0.2rem;
        -ms-border-radius: 0.2rem;
        -o-border-radius: 0.2rem;
        transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        &:hover {
          border: 0.1rem solid rgba(0, 0, 0, 0.9);
        }
      }
    }
  }
}
/***** End Country *****/

@media (max-width: 1000px) {
  .country-more-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px) {
  .container {
    padding-inline: 4.2rem;
  }
  .header-logo {
    font-size: 2.2rem;
    font-weight: 600;
  }
  .header-mode {
    font-size: 1.6rem;
    font-weight: 600;
  }
   .country-more-content {
    & .more-content--details {
      & .country-informations {
        display: block;
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    padding-inline: 3.8rem;
  }
  .header-logo {
    font-size: 2rem;
    font-weight: 600;
  }
  .header-mode {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .country-more-content {
    & .more-content--details {
      & .country-informations {
        display: block;
      }
    }
  }

  
}

@media (max-width: 400px) {
  html {
    font-size: 56.25%;
  }
  .container {
    padding-inline: 3.4rem;
  }
  .header-logo {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .header-mode {
    font-size: 1.2rem;
    font-weight: 600;
  }

 
}
